<%inherit file="layout.html" />
<%def name="head()">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.5.5/jquery.validate.min.js"></script>
<script src="/static/jquery.dataTables.js" type="text/javascript"></script> 
<script type="text/javascript">

$(document).ready(function() {
    $('#overlays').dataTable();
    $('#overlayForm').validate();
});

</script>
</%def>
<%def name="body()">
<table id="overlays" border="1">
<thead>
<tr>
<th>URL</th>
<th>Description</th>
<th></th>
</tr>
</thead>
<tbody>
%for overlay in overlaySet:
    <tr>
    <td>${overlay.url}</td>
    <td>${overlay.description}</td>
    <td><a href="/removeOverlay/${overlay.key()}">Remove</a></td>
    </tr>
%endfor
</tbody>
</table>

<form id="overlayForm" method="POST" action="overlays">
${form.render()}
</form>
</%def>
